@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*=======Main theme colors=======*/
  --first-color: #0e2431;
  --second-color: #1caaef;
  --third-color: #777;

  /*=======Hover colors=======*/
  --hover-color: #358ab4;

  /*=======Background colors=======*/
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 89, 209, 0.1);
  --line-color: #d7d7d7;

  /*=======Color Filter=======*/
  --color-filter: invert(1);

  /*=======Box shadow=======*/
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  /*=======Font size=======*/
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

  /*=======Scroll bar colors=======*/
  --scroll-bar-color: #c5cadf;
  --scorll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

.dark-theme {
  --first-color: #fff;
  --second-color: #1caaef;
  --third-color: #a9afc3;

  /*=======Background colors=======*/
  --body-bg-color: #0e1b31;
  --card-bg-color: #132347;
  --modal-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --transparent-color-01: rgba(255, 255, 255, 0.1);
  --line-color: #454f6b;

  /*=======Color Filter=======*/
  --color-filter: invert(0);

  /*=======Scroll bar colors=======*/
  --scroll-bar-color: #c1ceff;
  --scorll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.gradient-background {
  background: linear-gradient(-45deg, #ffffff, #a5f1da, #bef4cc, #d3fbe7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.active {
  color: var(--second-color) !important;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}